<template>
  <div id="app">
    1231231231231231231231231231231312131231231231313123123
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {
  }
}
</script>

<style>

</style>
